@import "components/Form/Form.scss";
@import "components/Megrendelesek/Megrendelesek.scss";
@import "components/Kartya/Kartya.scss";

.titleText{
  margin-left: 120px;
  margin-top: 40px;
  text-align: left;
  font-size: 20px;
  line-height: 27.24px;
}

.megrendeles{
  margin-top: 24px!important;
}